<link rel="stylesheet" href="style.css">
<!-- component template -->

<!-- status root element -->
<div style="float: left; padding-top: 10px; width: 550; min-width: 500px;" id="status">
  <div><h1>로그 목록</h1></div>
  <!-- <form id="search">
      Search <input name="query" v-model="searchQuery">
    </form> -->
  <grid :title="gridtitle" :items="gridData" :columns="gridColumns" :filter-key="searchQuery" style="width: 550; min-width: 500px;" >
  </grid>
  
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
    <tr style="align: center; vertical-align: middle;" v-bind="title">{{title}}</tr>  
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {{ key | capitalize }}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filtereditems">
        <td v-for="key in columns">
          {{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</script>



<script>
  // register the grid component
  Vue.component('grid', {
    template: '#grid-template',
    props: {
      title: String,
      items: Array,
      columns: Array,
      filterKey: String
    },
    data: function () {
      var sortOrders = {}
      this.columns.forEach(function (key) {
        sortOrders[key] = 1
      })
      return {
        sortKey: '',
        sortOrders: sortOrders
      }
    },
    computed: {
      filtereditems: function () {
        var sortKey = this.sortKey
        var filterKey = this.filterKey && this.filterKey.toLowerCase()
        var order = this.sortOrders[sortKey] || 1
        var items = this.items
        if (filterKey) {
          items = items.filter(function (row) {
            return Object.keys(row).some(function (key) {
              return String(row[key]).toLowerCase().indexOf(filterKey) > -1
            })
          })
        }
        if (sortKey) {
          items = items.slice().sort(function (a, b) {
            a = a[sortKey]
            b = b[sortKey]
            return (a === b ? 0 : a > b ? 1 : -1) * order
          })
        }
        return items
      }
    },
    filters: {
      capitalize: function (str) {
        return str.charAt(0).toUpperCase() + str.slice(1)
      }
    },
    methods: {
      sortBy: function (key) {
        this.sortKey = key
        this.sortOrders[key] = this.sortOrders[key] * -1
      }
    }
  })

  // bootstrap the status
  var status = new Vue({
    el: '#status',
    data: {
      searchQuery: '',
      gridtitle:"로그현황",
      gridColumns: ['NO', '드론ID', '파일명','등록일'],
      gridData: [
        { NO: 1, 드론ID: 'STD-01001-01', 파일명: 'log2021-0801.csv',등록일:'2021-08-01' },
        { NO: 1, 드론ID: 'STD-01001-01', 파일명: 'log2021-0801.csv',등록일:'2021-08-01' },
        { NO: 1, 드론ID: 'STD-01001-01', 파일명: 'log2021-0801.csv',등록일:'2021-08-01' },
        { NO: 1, 드론ID: 'STD-01001-01', 파일명: 'log2021-0801.csv',등록일:'2021-08-01' },
        { NO: 1, 드론ID: 'STD-01001-01', 파일명: 'log2021-0801.csv',등록일:'2021-08-01' }
      ],
    
    }
  });
  
</script>